/* orig table starts  */

.orig-list-wrapper {
  padding: 1rem;
}

@media (max-width: 1024px) {
  .orig-list-wrapper {
    padding: 0.4rem;
  }
}

.orig-list-wrapper .orig-portlet {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  box-shadow: 0px 0px 13px 0px rgba(82, 63, 105, 0.05);
  background-color: #ffffff;
  /* margin-top: 20px; */
  margin-bottom: 20px;
  border-radius: 4px;
}

.orig-list-wrapper .orig-portlet .orig-portlet__body {
  display: flex;
  flex-direction: column;
  padding: 25px;
  border-radius: 4px;
}

.orig-list-wrapper .orig-widget.orig-widget--user-profile-3 .orig-widget__top {
  display: flex;
  align-items: flex-start;
}

.orig-list-wrapper .orig-widget.orig-widget--user-profile-3 .orig-widget__top .orig-widget__media {
  margin-top: 0.2rem;
}

.orig-list-wrapper .orig-widget.orig-widget--user-profile-3 .orig-widget__top .orig-widget__pic.orig-widget__pic--danger {
  background: rgba(253, 57, 122, 0.1);
}

.orig-list-wrapper .orig-widget.orig-widget--user-profile-3 .orig-widget__top .orig-widget__pic {
  margin-top: 0.2rem;
  width: 100%;
  max-width: 110px;
  height: 110px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  border-radius: 8px;
}

.orig-list-wrapper .orig-font-danger {
  color: #fd397a !important;
}

.orig-list-wrapper .orig-font-boldest {
  font-weight: 700 !important;
}

.orig-list-wrapper .orig-hidden,
.orig-list-wrapper .orig-hide {
  display: none !important;
}

.orig-list-wrapper .orig-widget.orig-widget--user-profile-3 .orig-widget__top .orig-widget__content {
  width: 100%;
  padding-left: 1.7rem;
}

.orig-list-wrapper .orig-widget.orig-widget--user-profile-3 .orig-widget__top .orig-widget__content .orig-widget__head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.orig-list-wrapper .orig-widget.orig-widget--user-profile-3 .orig-widget__top .orig-widget__content .orig-widget__head .orig-widget__username {
  font-size: 1.3rem;
  color: #48465b;
  font-weight: 500;
  align-items: center;
  margin-right: 0.5rem;
}

.orig-list-wrapper .orig-widget.orig-widget--user-profile-3 .orig-widget__top .orig-widget__content .orig-widget__head .orig-widget__username i {
  font-size: 1.2rem;
  color: #57c974;
  padding-left: 0.5rem;
}

.orig-list-wrapper .orig-font-success {
  color: #0abb87 !important;
}

.orig-list-wrapper .orig-widget.orig-widget--user-profile-3 .orig-widget__top .orig-widget__content .orig-widget__head .orig-widget__action .btn {
  font-weight: 600;
  margin-left: 0.5rem;
}

.orig-list-wrapper .orig-widget.orig-widget--user-profile-3 .orig-widget__top .orig-widget__content .orig-widget__head .orig-widget__action .btn {
  font-weight: 600;
  margin-left: 0.5rem;
}

.orig-list-wrapper .orig-widget.orig-widget--user-profile-3 .orig-widget__top .orig-widget__content .orig-widget__subhead {
  padding: 0.6rem 0 0.8rem 0;
}

.orig-list-wrapper .orig-widget.orig-widget--user-profile-3 .orig-widget__top .orig-widget__content .orig-widget__subhead a {
  padding-right: 2rem;
  color: #74788d;
  font-weight: 500;
}

.orig-list-wrapper .orig-widget.orig-widget--user-profile-3 .orig-widget__top .orig-widget__content .orig-widget__subhead a i {
  padding-right: 0.5rem;
}

.orig-list-wrapper .orig-widget.orig-widget--user-profile-3 .orig-widget__top .orig-widget__content .orig-widget__info {
  display: flex;
  flex-flow: row wrap;
}

.orig-list-wrapper .orig-widget.orig-widget--user-profile-3 .orig-widget__top .orig-widget__content .orig-widget__info .orig-widget__desc {
  color: #595d6e;
  min-width: 100%;
  font-weight: 400;
  padding-right: 2rem;
  flex-grow: 1;
  margin-bottom: 0.5rem;
}

.orig-list-wrapper .orig-widget.orig-widget--user-profile-3 .orig-widget__top .orig-widget__content .orig-widget__info .orig-widget__progress {
  display: flex;
  align-items: center;
  max-width: 500px;
  width: 100%;
  margin: 0.1rem 0;
}

.orig-list-wrapper .orig-widget.orig-widget--user-profile-3 .orig-widget__top .orig-widget__content .orig-widget__info .orig-widget__progress .orig-widget__text {
  padding-right: 1rem;
  color: #595d6e;
  font-weight: 500;
}

.orig-list-wrapper .progress {
  display: flex;
  height: 1rem;
  overflow: hidden;
  font-size: 0.75rem;
  background-color: #ebedf2;
  border-radius: 0.25rem;
}

.orig-list-wrapper .progress-bar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  background-color: #5867dd;
  transition: width 0.6s ease;
}

.orig-list-wrapper .orig-widget.orig-widget--user-profile-3 .orig-widget__top .orig-widget__content .orig-widget__info .orig-widget__progress .orig-widget__stats {
  padding-left: 1rem;
  color: #48465b;
  font-weight: 600;
  font-size: 1.1rem;
}

.orig-list-wrapper .orig-widget.orig-widget--user-profile-3 .orig-widget__top .orig-widget__content .orig-widget__info .orig-widget__stats {
  display: flex;
  flex-wrap: wrap;
}

.orig-list-wrapper .orig-widget.orig-widget--user-profile-3 .orig-widget__top .orig-widget__media img {
  width: 110px;
  border-radius: 8px;
}

.orig-list-wrapper .orig-widget.orig-widget--user-profile-3 .orig-widget__bottom {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
  border-top: 1px solid #ebedf2;
  margin-top: 2rem;
}

.orig-list-wrapper .orig-widget.orig-widget--user-profile-3 .orig-widget__bottom .orig-widget__item {
  display: flex;
  align-items: center;
  flex-grow: 1;
  padding: 2rem 1.5rem 0 0;
}

.orig-list-wrapper .orig-widget.orig-widget--user-profile-3 .orig-widget__bottom .orig-widget__item .orig-widget__icon i {
  font-size: 2.7rem;
  color: #a2a5b9;
  font-weight: 400;
}

.orig-list-wrapper .orig-widget.orig-widget--user-profile-3 .orig-widget__bottom .orig-widget__item .orig-widget__details {
  padding-left: 1rem;
}

@media (max-width: 1024px) {
  .orig-list-wrapper .orig-portlet {
    margin-bottom: 20px;
  }

  .orig-list-wrapper .orig-portlet .orig-portlet__body {
    padding: 15px;
  }
}

@media (max-width: 768px) {
  .orig-list-wrapper .content-loader-wrapper {
    display: none;
  }

  .orig-list-wrapper .orig-widget.orig-widget--user-profile-3 {
    padding-top: 0.5rem;
  }

  .orig-list-wrapper .orig-widget.orig-widget--user-profile-3 .orig-widget__top {
    display: flex;
    align-items: flex-start;
  }

  .orig-list-wrapper .orig-widget.orig-widget--user-profile-3 .orig-widget__top .orig-widget__media {
    margin-top: 0.5rem;
  }

  .orig-list-wrapper .orig-widget.orig-widget--user-profile-3 .orig-widget__top .orig-widget__media img {
    max-width: 60px;
  }

  .orig-list-wrapper .orig-widget.orig-widget--user-profile-3 .orig-widget__top .orig-widget__pic {
    width: 60px;
    height: 60px;
    margin-top: 0.5rem;
    font-size: 1.3rem;
  }

  .orig-list-wrapper .orig-widget.orig-widget--user-profile-3 .orig-widget__top .orig-widget__content {
    padding-left: 1rem;
    margin-top: 0;
  }

  .orig-list-wrapper .orig-widget.orig-widget--user-profile-3 .orig-widget__top .orig-widget__content .orig-widget__head .orig-widget__username {
    padding-bottom: 0.6rem;
  }

  .orig-list-wrapper .orig-widget.orig-widget--user-profile-3 .orig-widget__top .orig-widget__content .orig-widget__subhead {
    padding: 1.2rem 0;
  }

  .orig-list-wrapper .orig-widget.orig-widget--user-profile-3 .orig-widget__top .orig-widget__content .orig-widget__info {
    display: flex;
    flex-direction: column;
  }

  .orig-list-wrapper .orig-widget.orig-widget--user-profile-3 .orig-widget__top .orig-widget__content .orig-widget__info .orig-widget__desc {
    padding-bottom: 1rem;
  }

  .orig-list-wrapper .orig-widget.orig-widget--user-profile-3 .orig-widget__top .orig-widget__content .orig-widget__info .orig-widget__progress {
    width: 100%;
    padding-right: 2rem;
  }

  .orig-list-wrapper .orig-widget.orig-widget--user-profile-3 .orig-widget__bottom {
    padding-top: 1rem;
  }

  .orig-list-wrapper .orig-widget.orig-widget--user-profile-3 .orig-widget__bottom .orig-widget__item {
    padding: 1rem 1rem 0 0;
  }

  .orig-list-wrapper .orig-widget.orig-widget--user-profile-3 .orig-widget__bottom .orig-widget__item .orig-widget__icon i {
    font-size: 2.5rem;
  }
}

.orig-list-wrapper .orig-widget.orig-widget--user-profile-3 .orig-widget__bottom .orig-widget__item .orig-widget__details .orig-widget__title {
  display: block;
  color: darkgray;
  font-weight: 600;
}

.orig-list-wrapper .orig-widget.orig-widget--user-profile-3 .orig-widget__bottom .orig-widget__item .orig-widget__details .orig-widget__value {
  display: block;
  color: grey;
}

.orig-list-wrapper .orig-bg-success {
  background-color: #0abb87 !important;
}

/* orig table ends  */

.new-lead-wrapper,
.edit-lead-wrapper {
  padding: 3rem;
}

.new-lead-form,
.edit-lead-form {
  padding: 3rem;
}

@media only screen and (max-width: 768px) {
  .new-lead-wrapper,
  .edit-lead-wrapper {
    padding: 1rem;
  }

  .new-lead-form,
  .edit-lead-form {
    padding: 1rem;
  }
}

